<div class="alert alert-info" role="alert">OAuth 2.0 login is not implemented yet</div>

<div>
  <form class="form-inline">
    <div class="form-group">
      <button type="button" ng-click="loginWithToken()" class="btn btn-default">Login</button>
      with a token
      <input type="text" ng-model="$storage.token" placeholder="Token" class="form-control" />
      on the environment
      <select ng-model="$storage.environment" class="form-control">
        <option value="PRODUCTION">Production</option>
        <option value="SANDBOX">Sandbox</option>
      </select>
    </div>
  </form>
</div>
