<div class="note-edit-page">
  <div class="panel panel-default">
    <div class="panel-heading">{{note.title}}</div>
    <div class="panel-body">
      <div ng-ckeditor
           ng-bind-html="note.content | asHtml"
           ng-xml-update="note.content = $xml"></div>
    </div>
  </div>
  <form role="form">
    <div class="form-group">
      <textarea ng-model="note.content" rows="10" class="form-control" id="editor"></textarea>
    </div>
    <button ng-click="save(note)" type="button" class="btn btn-default">Save</button>
  </form>
</div>
